{% extends 'beerbar/base.html' %}

{% block body %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'beerbar/profile.css' %}">
</head>
<body>
    <div class="main-heading">
          <h2>Welcome {{request.user}}</h2>
    </div>
    {% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" style="font-size: medium;" {% endif %}>{{message}}</small><br><br>
    {% endfor %}
    {% endif %}
    <!-- <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card-login">
                <div class="card-header">
                    <h3>Profile Update</h3>
                    <div class="d-flex justify-content-end social_icon">
                    </div>
                
                </div>
                <div class="card-body">
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="first name" name="first_name" autofocus autocapitalize="none" autocomplete="username" maxlength="30"  id="id_first_name">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="last name" name="last_name" id="id_last_name" maxlength="150">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="email" name="email" maxlength="254" id="id_email">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div> -->
    <form action="" method="Post">
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br> <br>
        {% endfor %}
        <input type="submit" value="Update" class="btn login_btn">
        
    </form><br><br>
    <a href="http://127.0.0.1:8000/logout/"><button class="btn login_btn">logout</button></a>

    
</body>
</html>
{% endblock %}






