{% extends 'beerbar/base.html' %}

{% block body %}
{% load static %}
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"  href="{% static 'beerbar/login.css' %}">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card-login">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			
			</div>
			<div class="card-body">
				<form action="" method="POST" novalidate>
					{% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password" autocomplete="current-password" required id="id_password">
					</div>
					<div class="row align-items-center remember">
						<!-- <input type="checkbox">Remember Me -->
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
				{% if messages %}
                {% for message in messages %}
                <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
                {% endfor %}
                {% endif %}
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="http://127.0.0.1:8000/signup/">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    var currentPage = 'Profile';
    var navTag = document.querySelector('.' + currentPage);
    if (currentPage == navTag.innerText.toLowerCase()){
        navTag.style.backgroundColor = 'gold';
        navTag.style.color = 'black';
    }
</script>
</body>
</html>  
{% endblock %}


